body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-title-primary {
  font-family: "Titan One", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.text-title-secondary {
  font-family: "Titan One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.custom-width {
  width: 75%;
}

@media (max-width: 768px) {
  .custom-width {
    width: 100%;
  }
}
